@import 'animations';

.phone-input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 13px;
  height: inherit;

  .phone-h1 {
    font-size: var(--l);
    font-weight: var(--regular);
    line-height: 30px;
    text-align: center;
  }

  .phone-number {
    font-size: var(--m);
    font-weight: var(--bold);
    transition: all 0.5s ease-in-out;
  }

  .invalid-number {
    color: var(--error);
    transition: all 0.5s ease-in-out;
  }

  .phone-p {
    width: 337px;

    font-size: var(--xs);
    font-weight: var(--regular);
    line-height: 16px;
    text-align: center;
  }

  .input-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px 0 20px 0;

    button {
      width: 88px;
      height: 52px;

      background-color: transparent;
      border: 2px solid black;

      font-size: var(--s);
      font-weight: var(--medium);
      line-height: 19px;
      text-align: center;

      cursor: pointer;
    }

    button:hover {
      background-color: #000000;
      color: #FFFFFF;
    }

    button:focus {
      animation: focusAnimation 0.8s ease;
    }

    .clear-input {
      width: 186px;
    }
  }

  .checkbox {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;

    width: 284px;
    height: 52px;

    label {
      display: flex;
      align-items: center;
      padding: 6px 10px 6px 10px;

      background-color: transparent;
      color: black;
      font-weight: var(--bold);

      input[type='checkbox'] {
        appearance: none;
        width: 40px;
        height: 40px;
        border: 2px solid black;
        background-color: transparent;
        cursor: pointer;
      }

      input[type='checkbox']:checked {
        background-image: url('../assets/checkbox-arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .checkbox-text {
      display: flex;
      flex-direction: column;

      font-size: var(--xs);
      font-weight: var(--regular);
      line-height: 16px;
      text-align: left;
      color: #4e4e4e;
    }
  }

  .error-message {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 284px;
    height: 52px;

    color: var(--error);
    font-size: var(--s);
    font-weight: var(--medium);
  }

  .confirm-number {
    width: 284px;
    height: 52px;

    background-color: transparent;
    border: 1px solid #4e4e4e;
    color: #4e4e4e;

    font-size: var(--s);
    font-weight: var(--medium);
    text-align: center;

    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .confirm-number:not([disabled]) {
    background-color: #000000;
    color: #FFFFFF;
  }
}