.phone-input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 13px;
  height: inherit;

  .phone-h1 {
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
  }

  .phone-number {
    font-size: 32px;
    font-weight: bold;
  }

  .phone-p {
    width: 337px;

    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
  }

  .input-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px 0 20px 0;

    button {
      width: 88px;
      height: 52px;

      background-color: transparent;
      border: 2px solid black;

      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: center;
      
      transition: all 0.3s ease-in-out;
      cursor: pointer;
    }

    button:hover,
    button:focus {
      background-color: #000000;
      color: #FFFFFF;
    }

    .clear-input {
      width: 186px;
    }
  }

  .checkbox {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;

    width: 284px;

    label {
      display: flex;
      align-items: center;
      padding: 6px 10px 6px 10px;

      background-color: transparent;
      color: black;
      font-weight: bold;

      input[type='checkbox'] {
        appearance: none;
        width: 40px;
        height: 40px;
        border: 2px solid black;
        background-color: transparent;
        cursor: pointer;
      }

      input[type='checkbox']:checked {
        background-image: url('../assets/checkbox-arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .checkbox-text {
      display: flex;
      flex-direction: column;

      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
      color: #4e4e4e;
    }
  }

  .confirm-number {
    width: 284px;
    height: 52px;

    background-color: transparent;
    border: 1px solid #4e4e4e;
    color: #4e4e4e;

    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .confirm-number:not([disabled]):hover{
    background-color: #000000;
    color: #FFFFFF;
  }
}