@media (max-width: 530px) {
  .page__form {
    .form-container,
    .page__form-ul {
      width: 90%;
    }

    .page__form-ul {
      .task {
        width: 100%;
      }
    }
  }

  .filter {
    width: 90%;
  }
}

@media (max-width: 440px) {
  .row {
    .row__textfield {
      font-size: 0.8rem;
    }
  }
  
  .task {
    .task__description {
      font-size: 0.8rem;
    }
  }

  .filter {
    .filter__counter,
    .filter__button {
      font-size: 0.7rem;
    }
  }
}

@media (max-width: 380px) {
  .page__h1 {
    font-size: 6rem;
  }
}

@media (max-width: 350px) {
  .row {
    .row__textfield {
      font-size: 0.7rem;
    }
  }

  .task {
    .task__description {
      font-size: 0.7rem;
    }
  }
  .filter {
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
  
    .filter__counter,
    .filter__button {
      padding-left: 2em;
    }
  }
}