* {
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.main {
  width: 100%;
  height: 100vh;
  position: relative;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 28px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  background-color: transparent;
  border: none;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  border: 3px solid;
  border-color: white;
  /* border-color: rgb(226, 51, 51); */
  border-radius: 5px;
  color: white;
  font-weight: 600;
  text-align: center;
  transition: all 0.3s ease;
  font-size: 22px;
}

.form-input::placeholder {
  color: white;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
}

.form-input:focus-within {
  transform: translateY(-3px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.input-focus:focus {
  outline: none;
}

.form-input[type="submit"] {
  color: white;
  border: none;
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  box-shadow: none;
}

.form-submit {
  display: flex;
  justify-content: center;
  box-shadow: none;
}

.support-button {
  color: white;
  font-size: 30px;
  display: flex;
  background-color: transparent;
  box-shadow: none;
  border: none;
  justify-content: center;
  align-items: center;
  transform: translateY(220px);
  transition: transform 0.2s ease-in-out;
}

.support-button:hover {
  animation: color-change 4s ease-in-out infinite;
  cursor: pointer;
}
 
.form-input[type="submit"]:hover {
  animation: color-change 4s ease-in-out infinite;
  transform: scale(1.1);
}

.form-input[type="submit"]:not(:hover) {
  transform: scale(1);
}

.form-input[type="submit"]:disabled {
  color: crimson;
}

.small-h2 {
  color: white;
  transform: translateY(220px);
  transition: transform 0.2s ease-in-out;
}

.small-h2:hover {
  animation: color-change 4s ease-in-out infinite;
}

@keyframes color-change {
  0% {
    color: #74f0d1;
  }
  50% {
    color: #74c9f0;
  }
  100% {
    color: #589eee;
  }
}

.big-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 60px;
  transition: transform 0.2s ease-in-out;
  animation: color-change 4s ease-in-out infinite;
}

@keyframes color-change {
  0% {
    color: #f09a80;
  }
  25% {
    color: #92e92e;
  }
  50% {
    color: #67eec1;
  }
  75% {
    color: #4e92eb;
  }
  100% {
    color: #de88e6;
  }
}

.is-invalid {
  border-color: crimson;
}

.is-invalid::placeholder {
  color: crimson;
}