* {
  margin: 0;
  padding: 0;
}

body {
  height: 100svh;
  font-family: 'Montserrat', sans-serif;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background-color: #ecbcb8;
  transition: background-color 0.3s ease;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #daaba7;
}

ul {
  list-style-type: none;
}

button {
  all: initial;
}