.form-container {
  width: 500px;
  background-color: #fff;

  margin-bottom: 3px;

  .row {
    display: flex;
    flex-direction: row;

    .row__textfield {
      border: none;
      height: 3em;
      
      padding-left: 1em;
      padding-right: 1em;
      text-overflow: ellipsis;
    
      width: 100%;
    
      font-family: 'Montserrat';
      font-weight: 300;
      font-size: 1rem;
    }
    
    .row__textfield::placeholder {
      font-style: italic;
    }
    
    .row__textfield:focus {
      outline: none;
    }

    .row__image-container {
      display: flex;
      justify-content: center;
      align-items: center;

      .row__image {
        width: 25px;
        height: 25px;
        
        cursor: pointer;
      
        transition: all 0.3s ease-in-out;
      }

      .row__image_right-side {
        padding-right: 1em;
      }

      .row__arrow {
        padding-left: 1em;
        
        filter: brightness(0.8);
      }

      .row__arrow_rotate {
        transform: scaleY(-1);
      
        transition: transform 0.3s ease-in-out;
      }
    }
  }
}