:root {
  --font-family: 'Inter';
  --h1-font: 32px;
  --h2-font: 18px;
  --regular-font: 16px;
  --error-font: 10px;
  --background-colour: #F9FAFB;
  --primary-colour: #3B82F6;
  --secondary-colour: #FFFFFF;
  --text-colour: #000000;
  --element-off: #D1D5DB;
  --button-hover-colour: #60A5FA;
  --error-text-colour: #EF4444;
  --error-field-colour: #FEF2F2;
  --error-border-colour: #FECACA;
  --input-arrows-colour: #6B7280;
  --input-border-colour: #E5E7EB;
  --checkbox-on: #22C55E;
  --button-height: 39px;
}