.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 500px;
  min-height: 3rem;
  padding: 0;
  background-color: #fff;
  font-size: 1rem;

  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 1rem;
}

.task:last-child {
  margin-bottom: 3px;
}