* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-colour);
}

button {
  font-family: var(--font-family);
  height: var(--button-height);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}