* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family:'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.currency-container {
  background: #fff;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  padding: 4rem 2rem;
  position: relative;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.main-content h1 {
  font-size: 95px;
  color: #fff;
  /* margin-bottom: 70px; */
}

.main-content h2 {
  font-size: 3rem;
  color: #fff;
  /* margin-bottom: 70px; */
}

.input {
  font-size: 2em;
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px
}

.parsing-error {
  color: red;
}
.select {
  font-size: 2em;
  background-color: transparent;
  color: #fff;
  border: none;
  margin-left: 20px;
}

.background-clip {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio:16/9) {
  .background-clip {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio:16/9) {
  .background-clip {
    width: auto;
    height: 100%;
  }
}

/*
Анимация круга загрузки
*/
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.animation-circle {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: rotate 1.5s linear infinite;
}

.circle-error {
  border: 6px solid salmon;
  border-color: salmon transparent salmon transparent;
}