* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family:'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

.change-language-button {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: bold;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.currency-container {
  background: transparent;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 0;
  max-width: 70rem;
  width: 100%;
}

.exchange-result-container {
  color: black;
  text-align: left;
  margin-top: 1rem;
  margin-left: 2.8rem;
}

.grid-container {
  display: flex; 
  justify-content: center;
  width: 100%;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: max-content;
  flex-wrap: wrap;
  width: 100%;
  gap: 4rem;
}

.converter-label {
  font-size: 7rem;
  color: #fff;
  text-align: center;
  /* margin-bottom: 70px; */
}

.main-content h2 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  /* margin-bottom: 70px; */
}

.input {
  font-size: 2em;
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px
}

.switch-button {
  height: 100%;
  border-radius: 1px;
}

.arrow-icon {
  font-size: 30px;
}

.parsing-error {
  color: red;
}
.select {
  font-size: 2em;
  background-color: transparent;
  color: #fff;
  border: none;
  margin-left: 20px;
}

.background-clip {
  position: absolute; 
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.to-main-button {
  font-size: 3rem;
  color: lightgreen;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.to-currencies-button {
  font-size: 2rem;
  color: lightgreen;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 3rem;
}

/* Стили CurrenciesPage.tsx*/

.currencies-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: max-content;
  flex-wrap: wrap;
  text-align: center;
  gap: 3rem;
  box-sizing: border-box;
}

.currencies-container h2 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
}

.currencies-choose-currency {
  width: 50%;
}

.currencies-container .currencies-h1 {
  font-size: 4rem;
  color: #fff;
}

.currencies-table-container {
  max-height: 40vh;
  min-width: 100vh;
  overflow-y: auto;
  background: transparent;
  color: #fff;
}

.currencies-cirle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  min-height: 40vh;
}

.currencies-table .MuiTableHead-root th {
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
}

.currencies-table th {
  color: #fff;
  background-color: transparent;
}

.currencies-table-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.2); 
}

.currencies-table-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
}

/* Адаптивность под устройства */
@media (max-width: 1000px) {
  .main-content > h1.converter-label {
    font-size: 6rem;
  }
  .to-currencies-button {
    font-size: 1.6rem;
  }
  .exchange-result-container {
    margin-left: 2.4rem;
  }
  .currencies-table-container {
    min-width: 80vw;
  }
}

@media (max-width: 900px) {
  .exchange-result-container {
    margin-left: 0.9rem;
  }
}

@media (max-width: 870px) {
  .main-content > h1.converter-label {
    font-size: 5rem;
  }
  .currency-container {
    margin: 0;
    flex-wrap: wrap;
  }
  .to-main-button {
    font-size: 2.5rem;
  }
  .to-currencies-button {
    font-size: 1.4rem;
  }
  .exchange-result-container {
    margin-left: 0.9rem;
  }
  .currencies-table-container {
    min-width: 60vw;
  }
}

@media (max-width: 700px) {
  .main-content > h1.converter-label {
    font-size: 4rem;
  }
  .currencies-container .currencies-h1 {
    font-size: 3rem;
  }
  .currencies-table-container {
    margin: 0;
  }
}

@media (max-width: 570px) {
  .main-content {
    gap: 2em;
  }
  .main-content > h1.converter-label {
    font-size: 3rem;
  }
  .to-main-button {
    font-size: 2rem;
  }
  .to-currencies-button {
    font-size: 1.2rem;
  }
  .main-content .currency-container {
    width: 80%;
  }
  .currencies-container .currencies-h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 450px) {
  .main-content {
    gap: 0.5em;
  }
  .main-content > h1.converter-label {
    font-size: 2rem;
  }
  .change-language-button {
    font-size: 1rem;
  }
  .to-main-button {
    font-size: 1.5rem;
  }
  .currencies-container .currencies-h1 {
    font-size: 2rem;
  }
}

@media (max-width: 350px) {
  .currencies-table-container {
    max-width: 20vw;
  }
}

@media (max-height: 700px) {
  .currencies-container .to-currencies-button {
    bottom: 0.5rem;
  }
}

/*
Анимация круга загрузки
*/
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.animation-circle {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: rotate 1.5s linear infinite;
}

.circle-error {
  border: 6px solid salmon;
  border-color: salmon transparent salmon transparent;
}

/*
Настройка MUI-компонентов
*/
.MuiButtonBase-root {
  color: lime !important;
}

.MuiAutocomplete-root fieldset:hover{
  border-color: orange !important;
}

.MuiOutlinedInput-root > fieldset {
  border-color: white !important;
}

.MuiOutlinedInput-root:hover > fieldset {
  border-color: lightgreen !important;
}

.MuiOutlinedInput-root:focus-within > fieldset {
  border-color: lime !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #fff;
}

.MuiInputBase-input {
  color: white !important;
}

.MuiInputLabel-root {  
  color: white !important;   
} 

.MuiInputAdornment-root {  
  color: white !important;  
}

.MuiInputAdornment-root .MuiSvgIcon-root {  
  color: white !important;   
}         

.MuiTypography-root {
  color: white !important;
}

.MuiInput-underline:before {
  border-bottom: 1px solid white !important;
}

.MuiInput-underline:hover:not(.Mui-disabled):before, 
.MuiInput-underline.Mui-focused:before {
  border-bottom: 2px solid white !important;
}   

.MuiAutocomplete-option {  
  color: black !important;    
}

.MuiSelect-icon {   
  color: white !important;
}

.MuiSvgIcon-root {
  fill: white !important;
}