* {
  padding: 0;
  margin: 0;
  font-family:'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

/* Стили App.tsx */

.main-container {
  width: 100%;
  /* min-height: 100vh; */
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.background-clip {
  position: absolute; 
  top: 0; 
  left: 0;
  height: 100vh; 
  width: 100vw;
  object-fit: cover;
  z-index: -1;
}

.change-language-button {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: bold;
}

/* Стили CurrenciesPage.tsx */

.currencies-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: max-content;
  flex-wrap: wrap;
  text-align: center;
  gap: 3rem;
  box-sizing: border-box;
  height: 100%;
}

.currencies-container h2 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
}

.currencies-container .currencies-h1 {
  font-size: 4rem;
  color: #fff;
}

.currencies-choose-currency {
  width: 50%;
}

.currencies-cirle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  min-height: 40vh;
}

/* Стили ErrorPage.tsx */

.to-main-button {
  font-size: 3rem;
  color: lightgreen;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Стили MainPage.tsx */

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: max-content;
  width: 100%;
  gap: 4rem;
  height: 100%; 
}

.main-content h2 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  /* margin-bottom: 70px; */
}

.converter-label {
  font-size: 7rem;
  color: #fff;
  text-align: center;
  /* margin-bottom: 70px; */
}

.main-page-circle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1.4rem;
  gap: 3rem;
}

.currency-container {
  background: transparent;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 0;
  max-width: 70rem;
  width: 100%;
}

.grid-container {
  display: flex; 
  justify-content: center;
  width: 100%;
}

.to-currencies-button {
  font-size: 2rem;
  color: lightgreen;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 3rem;
}

/* Стили AnimationBar.tsx и анимация круга загрузки */

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.animation-circle {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: rotate 1.5s linear infinite;
}

.circle-error {
  border: 6px solid salmon;
  border-color: salmon transparent salmon transparent;
}

/* Стили CurrenciesTable.tsx */

.currencies-table-container {
  max-height: 40vh;
  min-width: 100vh;
  overflow-y: auto;
  background: transparent;
  color: #fff;
}

.currencies-table-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.2); 
}

.currencies-table-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
}

.currencies-table .MuiTableHead-root th {
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
}

.currencies-table th {
  color: #fff;
  background-color: transparent;
}

.table-head-row {
  border-bottom: unset;
}

.table-body-row {
  border: 0;
}

/* Стили ExchangeResult.tsx */

.exchange-result-container {
  color: black;
  text-align: left;
  margin-top: 1rem;
  margin-left: 2.8rem;
}

/* Адаптивность под устройства */
@media (max-width: 1000px) {
  .main-content > h1.converter-label {
    font-size: 6rem;
  }
  .to-currencies-button {
    font-size: 1.6rem;
  }
  .exchange-result-container {
    margin-left: 2.4rem;
  }
  .currencies-table-container {
    min-width: 80vw;
  }
  .main-page-circle {
    transform: scale(0.9);
  }
  .currencies-cirle {
    transform: scale(0.9);
  }
}

@media (max-width: 900px) {
  .exchange-result-container {
    margin-left: 0.9rem;
  }
  .main-page-circle {
    padding: 7.7rem;
    transform: scale(0.8);
  }
  .currencies-cirle {
    transform: scale(0.8);
  }
}

@media (max-width: 870px) {
  .main-content > h1.converter-label {
    font-size: 5rem;
  }
  .currency-container {
    margin: 0;
    flex-wrap: wrap;
  }
  .to-main-button {
    font-size: 2.5rem;
  }
  .to-currencies-button {
    font-size: 1.4rem;
  }
  .exchange-result-container {
    margin-left: 0.9rem;
  }
  .currencies-table-container {
    min-width: 60vw;
  }
}

@media (max-width: 700px) {
  .main-content > h1.converter-label {
    font-size: 4rem;
  }
  .currencies-container .currencies-h1 {
    font-size: 3rem;
  }
  .currencies-table-container {
    margin: 0;
  }
  .main-page-circle {
    transform: scale(0.7);
  }
  .currencies-cirle {
    transform: scale(0.7);
  }
}

@media (max-width: 570px) {
  .main-content {
    gap: 2em;
  }
  .main-content > h1.converter-label {
    font-size: 3rem;
  }
  .to-main-button {
    font-size: 2rem;
  }
  .to-currencies-button {
    font-size: 1.2rem;
  }
  .main-content .currency-container {
    width: 80%;
  }
  .currencies-container .currencies-h1 {
    font-size: 2.5rem;
  }
  .main-page-circle {
    transform: scale(0.6);
  }
  .currencies-cirle {
    transform: scale(0.6);
  }
}

@media (max-width: 450px) {
  .main-content {
    gap: 0.5em;
  }
  .main-content > h1.converter-label {
    font-size: 2rem;
  }
  .change-language-button {
    font-size: 1rem;
  }
  .to-main-button {
    font-size: 1.5rem;
  }
  .currencies-container .currencies-h1 {
    font-size: 2rem;
  }
  .main-page-circle {
    transform: scale(0.5);
  }
  .currencies-cirle {
    transform: scale(0.5);
  }
}

@media (max-width: 350px) {
  .currencies-table-container {
    max-width: 20vw;
  }
}

@media (max-height: 700px) {
  .currencies-container .to-currencies-button {
    bottom: 0.5rem;
  }
}

/* Настройка MUI-компонентов */
.MuiButtonBase-root {
  color: lime !important;
}

.MuiAutocomplete-root fieldset:hover{
  border-color: orange !important;
}

.MuiOutlinedInput-root > fieldset {
  border-color: white !important;
}

.MuiOutlinedInput-root:hover > fieldset {
  border-color: lightgreen !important;
}

.MuiOutlinedInput-root:focus-within > fieldset {
  border-color: lime !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #fff;
}

.MuiInputBase-input {
  color: white !important;
}

.MuiInputLabel-root {  
  color: white !important;   
} 

.MuiInputAdornment-root {  
  color: white !important;  
}

.MuiInputAdornment-root .MuiSvgIcon-root {  
  color: white !important;   
}         

.MuiTypography-root {
  color: white !important;
}

.MuiInput-underline:before {
  border-bottom: 1px solid white !important;
}

.MuiInput-underline:hover:not(.Mui-disabled):before, 
.MuiInput-underline.Mui-focused:before {
  border-bottom: 2px solid white !important;
}   

.MuiAutocomplete-option {  
  color: black !important;    
}

.MuiSelect-icon {   
  color: white !important;
}

.MuiSvgIcon-root {
  fill: white !important;
}